<% if (theme.yoyo){ %>
<section class="comments" id="comments">
    <div id="YoYo"></div>
    <script src="https://yoyo-1255388623.cos.ap-shanghai.myqcloud.com/index.js"></script>
</section>
<% } %>
    